$xxs: 374px;
$xs: 425px;
$sm: 576px;
$md: 767px;
$emd: 827px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1440px;
$xxxl: 1600px;
$fhd: 1920px;

@import "reset";
@import "classes";
@import "content";

* {
  font-family: 'Metropolis' !important;
}

body {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
